@import url("https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

:root {
  --second-family: "Barlow", sans-serif;
}

body {
  font-family: "Livvic", sans-serif;
}

.container {
  width: 100%;
  max-width: 1110px;
  padding: 0 16px;
  margin: 0 auto;
}

.header {
  background-color: #014e56;
  padding-top: 73px;
  padding-bottom: 250px;
}

.header__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.img {
  margin-right: 40px;
}

.text {
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  color: #fff;
}

.header__btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 24px;
  padding: 9px 33px 11px 32px;
  -webkit-transition: 0.45s;
  transition: 0.45s;
  background-color: #014e56;
}
.header__btn:hover {
  cursor: pointer;
}
.header__btn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  background-color: seagreen;
}

.header__menu {
  display: none;
}

.header__wrap {
  margin-top: 129px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__subTitle {
  width: 539px;
  font-weight: 700;
  font-size: 100px;
  line-height: 100%;
  color: #fff;
}
.header__subTitle .header__span {
  color: #f67e7e;
}

.header__words {
  width: 445px;
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  color: #fff;
}

@media screen and (max-width: 1080px) {
  .header__wrap {
    display: block;
    text-align: center;
  }
  .header__words {
    width: auto;
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    color: #fff;
  }
  .header__block {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__subTitle {
    width: auto;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    color: #fff;
  }
  .header__subTitle {
    margin-bottom: 28px;
  }
}
@media screen and (max-width: 700px) {
  .header__subTitle {
    font-size: 60px;
  }
}
@media screen and (max-width: 650px) {
  .header__menu {
    display: block;
  }
  .header__words {
    font-size: 15px;
  }
  .header__btn {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .text {
    display: none;
  }
}
.hero {
  background-color: #012f34;
  padding-bottom: 140px;
}

.hero__box {
  padding-top: 198px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__build {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 23px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}

.hero__subtitle {
  width: 445px;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  color: #fff;
}

.hero__user {
  width: 540px;
}

.hero__wordsName {
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  color: #f67e7e;
}

.hero__words {
  margin-top: 16px;
  font-weight: 600;
  font-size: 15px;
  line-height: 167%;
  color: #fff;
}

@media screen and (max-width: 1080px) {
  .hero__box {
    display: block;
  }
  .hero__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero__subtitle {
    width: 557px;
    margin-bottom: 64px;
  }
}
@media screen and (max-width: 750px) {
  .hero__subtitle {
    width: 224px;
  }
  .hero__build {
    text-align: center;
    display: block;
  }
  .hero__user {
    width: auto;
  }
}
.result {
  background-color: #004047;
}

.result__block {
  padding-top: 140px;
  padding-bottom: 140px;
}

.result__subtitle {
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  text-align: center;
  color: #fff;
}
.result__subtitle .result__span {
  color: #79c8c7;
}

.result__box {
  margin-top: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.result__desc {
  text-align: center;
}

.result__text {
  font-weight: 600;
  font-size: 15px;
  line-height: 167%;
  text-align: center;
  color: #fff;
}

.result__name {
  margin-top: 24px;
  margin-bottom: 2px;
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  text-align: center;
  color: #79c8c7;
}

.result__word {
  margin-bottom: 32px;
  font-style: italic;
  font-weight: 500;
  font-size: 13px;
  line-height: 138%;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 950px) {
  .result__box {
    display: block;
  }
  .result__desc {
    margin-bottom: 48px;
  }
}
.ready {
  padding-top: 76px;
  padding-bottom: 76px;
  background-color: #f67e7e;
}

.ready__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ready__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  color: #012f34;
}

.ready__btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  color: #012f34;
  border: 2px solid #012f34;
  border-radius: 24px;
  padding: 9px 33px 11px 32px;
  -webkit-transition: 0.45s;
  transition: 0.45s;
  background-color: #f67e7e;
}
.ready__btn:hover {
  cursor: pointer;
}
.ready__btn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  background-color: rgb(156, 50, 50);
}

@media screen and (max-width: 780px) {
  .ready__block {
    display: block;
    text-align: center;
  }
  .ready__title {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 600px) {
  .ready__title {
    font-size: 32px;
  }
}
.foter {
  background-color: #002529;
  padding-top: 48px;
  padding-bottom: 48px;
}

.foter__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.use {
  margin-bottom: 4px;
}

.foter__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  color: #fff;
  margin-top: 25px;
}

.foter__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.foter__subTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 125px;
}

.foter__link {
  font-weight: 600;
  font-size: 15px;
  line-height: 167%;
  color: #fff;
  opacity: 0.6;
}

.foter__meseg {
  margin-bottom: 25px;
}

@media screen and (max-width: 950px) {
  .foter__block {
    display: block;
  }
  .foter__subTitle {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .foter__text {
    margin-top: 53px;
  }
  .use {
    text-align: end;
  }
  .foter__box {
    margin-top: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (max-width: 650px) {
  .foter__box {
    text-align: center;
    display: block;
    margin-top: 40px;
  }
  .foter__subTitle {
    text-align: center;
    display: block;
  }
  .foter__logo {
    margin-bottom: 24px;
  }
  .foter__text {
    display: none;
  }
}
.director {
  background-color: #004047;
}

.director__block {
  padding-top: 140px;
  padding-bottom: 140px;
}

.director__title {
  margin-bottom: 64px;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  text-align: center;
  color: #fff;
}

.director__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 45px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.director__box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px, 24px, 56px, 24px;
  background-color: #012f34;
}

.director__img {
  margin-left: 110px;
  margin-top: 32px;
}

.director__desc {
  width: 320px;
  height: 253px;
  background-color: #012f34;
}

.director__name {
  margin-top: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  text-align: center;
  color: #79c8c7;
}

.director__text {
  margin-top: 4px;
  font-style: italic;
  font-weight: 500;
  font-size: 15px;
  line-height: 167%;
  text-align: center;
  color: #fff;
}

.some {
  background-color: #012f34;
}

.some__block {
  padding-top: 140px;
  padding-bottom: 140px;
}

.some__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  text-align: center;
  color: #fff;
  margin-bottom: 64px;
}

.some__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

@media screen and (max-width: 1105px) {
  .some__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 25px;
  }
}
@media screen and (max-width: 1050px) {
  .some__box {
    display: block;
  }
  .some__img {
    text-align: center;
    margin-bottom: 45px;
  }
}
.contact__name {
  font-weight: 700;
  font-size: 64px;
  line-height: 156%;
  color: #fff;
}

.contact {
  padding-bottom: 120px;
}

.contact__text {
  margin-top: 16px;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #f67e7e;
}

.contact__block {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__in {
  padding: 8px 10px;
  background-color: #032c31;
  border: none;
  margin-bottom: 10px;
  width: 540px;
  height: 52px;
}

.contact__in:active {
  border: none;
}

.contact__btn {
  margin-top: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  color: #004047;
  border: none;
  border-radius: 24px;
  padding: 9px 33px 11px 32px;
  -webkit-transition: 0.45s;
  transition: 0.45s;
  background-color: #fff;
}
.contact__btn:hover {
  cursor: pointer;
}
.contact__btn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  background-color: azure;
}

@media screen and (max-width: 1110px) {
  .contact__in {
    width: 500px;
  }
}
@media screen and (max-width: 1080px) {
  .contact__block {
    text-align: center;
    display: block;
  }
  .contact__user {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .contact__in {
    width: 460px;
  }
}
@media screen and (max-width: 500px) {
  .contact__in {
    width: 400px;
  }
}
@media screen and (max-width: 440px) {
  .contact__in {
    width: 360px;
  }
}
@media screen and (max-width: 380px) {
  .contact__in {
    width: 270px;
  }
}/*# sourceMappingURL=main.css.map */