*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

ul,
  ol {
    list-style: none;
  }
  
img {
    max-width: 100%;
    height: auto;
  }
  
a {
    text-decoration: none;
  }
  
:root {
    --second-family: "Barlow", sans-serif;
  }
  
body {
    font-family: "Livvic", sans-serif;
  }

.container{
    width: 100%;
    max-width: 1110px;
    padding: 0 16px;
    margin: 0 auto;
}
