.persons {
  background: #012f34;

  padding-top: 100px;
  background-repeat: no-repeat;
  background-image: url(../img/topimg.svg);
  background-position: right top;
}
.person__title {
  width: 224px;
  height: 160px;
  margin-right: auto;
  margin-left: auto;
}
.person__sub-title {
  font-family: Livvic;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  color: white;
}
.person__card {
  padding-bottom: 65px;
}
.person__cards {
  padding-top: 60px;
  text-align: center;
}
.person__about {
  width: 327px;
  height: 75px;
  top: 36px;
  gap: 0px;
  opacity: 0.8px;
  margin-right: auto;
  margin-left: auto;
}
.person__about-title {
  color: #f67e7e;
  font-family: Livvic;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
}
.person__text {
  color: white;
  font-family: Livvic;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  text-align: center;
}

@media (min-width: 765px) {
  .person__title {
    width: 445px;
    height: 64px;
    margin-right: 0;
    margin-left: 0;
  }
  .person__sub-title {
    font-family: Livvic;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
  }
  .person__about {
    text-align-last: left;
    margin-right: 0;
    margin-left: 0;
    width: 478px;
    height: 50px;
    top: 44px;
    gap: 0px;
    opacity: 0.8px;
  }
  .person__card {
    display: flex;
    gap: 40px;
  }
  .person__text {
    font-family: Livvic;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    text-align: left;
  }
}

@media (min-width: 1100px) {
  .person__block {
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 125px;
    padding-bottom: 140px;
  }
  .person__title {
    width: 445px;
    height: 144px;
    top: 898px;
    left: 165px;
    gap: 0px;
    opacity: 0px;
  }
  .person__sub-title {
    font-family: Livvic;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
  }
  .person__cards {
    padding-top: 150px;
  }
  .persons {
    background-repeat: no-repeat;
    background-image: url(../img/topimg.svg);
    background-position: right bottom;
  }
}
